* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;

  font-family: Arial, Helvetica, sans-serif;

  background: #f5f0e6;
  color: #1b1b1b;
}

button,
a {
  font-family: inherit;
}